body {
  margin: 5%;
  background-color: #5e5f73;
}

main {
  background-color: lightgray;
  border: black solid 2px;
}

.container {
  font-size: 2em;
  padding: 1em;
}

.cow {
  color: black;
}

.cow-says {
  font-size: .6em;
}

.saved {
  margin-top: 5%;
}
