$brand-primary: #85B79D;
$btn-primary: #00D5FF / 2;
$btn-hover: #424B54;
$black: #000;
$white: #fff;
$box-std: 20%;
$gutter-std: 5%;
$gutter-sm: $gutter-std / 2;


body {
  font-family: helvetica;
  font-size: 1em;
  background: $brand-primary;
}

nav {
  // float: right;
  padding-left: 65em;
  padding-top: 2em;
}
li {
  display: inline;
  font-family: 'Merriweather', serif;
  font-size: .75em;
}

h1 {
  color: #694873;
  font-family: 'Bitter', serif;
  font-size: 2em;
  text-align: center;
  margin-bottom: $gutter-std;
}

button {
  width: $box-std;
  padding: 2% 0;
  background: $btn-primary;
  color: $white;
  border: none;
  cursor: pointer;
  transition: 350ms all;

  &:hover {
    background: $btn-hover;
  }
}

section {
  text-align: center;
}

select {
  margin-left: 50px;
}

input[type="text"] {

  width: $box-std;
  height: $box-std / 2;
  margin-right: $gutter-std / 2;
  padding: 2%;
  border: none;
  border-radius: 3px;
}

pre {
  font-family: monospace;
  margin: $gutter-std;
}
